<div class="error-box">
  <div class="error-body text-center">
    <h1 class="error-title text-success">404</h1>
    <img src="assets/images/logos/logo-sgifd.PNG" class="text-center"
         style="height: 150px;margin-top: -5%;" alt="homepage"/>
    <h3 class="text-uppercase error-subtitle">PAGE NON RETROUVEE !</h3>
    <p class="text-muted mt-4 mb-4">CETTE PAGE QUE VOUS ESSAYEZ D'ACCEDER N'EXISTE PAS</p>
    <a routerLink="/login" class="btn btn-success btn-rounded waves-effect waves-light mb-5">Retour</a> </div>

</div>
