<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">

  <div class="col-md-1 col-sm-12"></div>
  <div class="col-md-10 col-sm-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Formulaire d'enregistrement</h4>
        <h6 class="card-subtitle">Enregistrement des coopérations décentralisées.</h6>
        <hr>

        <br>


        <div class="card">
          <div class="card-body">

            <form class="mt-4" [formGroup]="validateFormCooperation">

              <div class="row">

                <div class="col-md-12 col-sm-12" style="margin-top: -5%;">

                  <h4 class="card-title"> Partenaires Techniques Coopérant (PTF)</h4>
                  <h6 class="card-subtitle">Liste des Partenaires Techniques Coopérant (PTF).
                    <button type="button" class="btn btn-success btn-circle  btn-sm" style="float: right;"
                      (click)="showModalPtf()">
                      <i class="ti-plus"></i>
                    </button>
                  </h6>
                  <hr>

                  <div class="table-responsive">
                    <!-- Alert with rounded corner -->

                    <table class="table table-striped border" style="width: 100%!important;">
                      <thead>
                        <tr>
                          <th>Dénomination</th>
                          <th>Sigle</th>
                          <th>#</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let ptf of ptfsSubmit">
                          <td> {{ ptf.denominationptf }}</td>
                          <td> {{ ptf.sigleptf }}</td>
                          <td style="text-align: center;">

                            <ng-container>
                              <nz-popconfirm [nzTitle]="'Êtes vous sûr de supprimer ?'" (nzOnConfirm)="enleverPtf(ptf)"
                                [nzOkText]="'Oui'" [nzCancelText]="'Non'">

                                <button type="button" nz-popconfirm class="btn btn-danger btn-circle  btn-sm">
                                  <i class="ti-close"></i>
                                </button>

                              </nz-popconfirm>
                            </ng-container>

                          </td>
                        </tr>
                      </tbody>

                    </table>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-12 col-sm-12">
                      <nz-form-item>
                        <nz-form-control>
                          <h5> Type de coopération
                            <span class="text-danger">*</span>
                          </h5>
                          <nz-select nzShowSearch nzAllowClear formControlName="typeCooperation">
                            <nz-option *ngFor="let typeCooperation of typecooperationList"
                              [nzLabel]="typeCooperation.libelle" [nzValue]="typeCooperation"></nz-option>
                          </nz-select>
                          <nz-form-explain
                            *ngIf="validateFormCooperation.get('typeCooperation')?.dirty && validateFormCooperation.get('typeCooperation')?.errors">
                            Ce champs est obligatoire !
                          </nz-form-explain>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                  </div>
                </div>
              </div>
              <br>

              <div class="row">
                <div class="col-md-4 col-sm-12">
                  <nz-form-item>
                    <nz-form-control>
                      <h5> Année
                        <span class="text-danger">*</span>
                      </h5>
                      <nz-select nzShowSearch nzAllowClear id="exercice" formControlName="exercice">
                        <nz-option *ngFor="let annee of exerciceList" [nzLabel]="annee.libelle" [nzValue]="annee">
                        </nz-option>
                      </nz-select>
                      <nz-form-explain
                        *ngIf="validateFormCooperation.get('exercice')?.dirty && validateFormCooperation.get('exercice')?.errors">
                        Ce champs est obligatoire !
                      </nz-form-explain>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div class="col-md-4 col-sm-12">
                  <nz-form-item>
                    <nz-form-control>
                      <h5> Référence(s)
                        <span class="text-danger">*</span>
                      </h5>
                      <input nz-input formControlName="reference" class="form-control"
                        oninput="this.value = this.value.toUpperCase()">
                      <nz-form-explain
                        *ngIf="validateFormCooperation.get('reference')?.dirty && validateFormCooperation.get('reference')?.errors">
                        Ce champs est obligatoire !
                      </nz-form-explain>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div class="col-md-4 col-sm-12">
                  <nz-form-item>
                    <nz-form-control>
                      <h5> Libellé ou désignation
                        <span class="text-danger">*</span>
                      </h5>
                      <input nz-input formControlName="libelle" class="form-control"
                        oninput="this.value = this.value.toUpperCase()">
                      <nz-form-explain
                        *ngIf="validateFormCooperation.get('libelle')?.dirty && validateFormCooperation.get('libelle')?.errors">
                        Ce champs est obligatoire !
                      </nz-form-explain>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4 col-sm-12">
                  <nz-form-item>
                    <nz-form-control>
                      <h5> Montant en Devise
                        <span class="text-danger">*</span>
                      </h5>
                      <input nz-input type="number" formControlName="montantDevise" class="form-control"
                        oninput="this.value = this.value.toUpperCase()">
                      <nz-form-explain
                        *ngIf="validateFormCooperation.get('montantDevise')?.dirty && validateFormCooperation.get('montantDevise')?.errors">
                        Ce champs est obligatoire !
                      </nz-form-explain>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div class="col-md-4 col-sm-12">
                  <nz-form-item>
                    <nz-form-control>
                      <h5> Devise
                        <span class="text-danger">*</span>
                      </h5>
                      <nz-select nzShowSearch nzAllowClear formControlName="deviseMonnaie">
                        <nz-option *ngFor="let devise of deviseMonaieList" [nzLabel]="devise.libelle"
                          [nzValue]="devise"></nz-option>
                      </nz-select>
                      <nz-form-explain
                        *ngIf="validateFormCooperation.get('deviseMonnaie')?.dirty && validateFormCooperation.get('deviseMonnaie')?.errors">
                        Ce champs est obligatoire !
                      </nz-form-explain>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div class="col-md-4 col-sm-12">
                  <nz-form-item>
                    <nz-form-control>
                      <h5> Montant (F CFA)
                        <span class="text-danger">*</span>
                      </h5>
                      <input nz-input type="number" formControlName="montantFcfa" class="form-control">
                      <nz-form-explain
                        *ngIf="validateFormCooperation.get('montantFcfa')?.dirty && validateFormCooperation.get('montantFcfa')?.errors">
                        Ce champs est obligatoire !
                      </nz-form-explain>
                    </nz-form-control>
                  </nz-form-item>
                </div>

              </div>




              <br>

              <h4 class="card-title">Projets soumis</h4>
              <h6 class="card-subtitle">Liste des projets soumis.

                <button type="button" class="btn btn-success btn-circle  btn-sm" style="float: right;"
                  (click)="showModalProjetSoumis()">
                  <i class="ti-plus"></i>
                </button>
              </h6>
              <hr>

              <div class="table-responsive">
                <!-- Alert with rounded corner -->

                <table class="table table-striped border" style="width: 100%!important;">
                  <thead>
                    <tr>
                      <th>Réf.</th>
                      <th>Désignation</th>
                      <!--  <th>Secteur</th> -->
                      <th>Maturité</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngIf="projetIdeesSoumis.length == 0">
                      <td colspan="5" class="text-center center">
                        Aucun projet !
                      </td>
                    </tr>
                    <tr *ngFor="let projetsous of projetIdeesSoumis">
                      <td> {{ projetsous.reference }}</td>
                      <td> {{ projetsous.libelle }}</td>
                      <!-- <td> {{ projetsous.secteur.libelle }}</td> -->
                      <td> {{ projetsous.niveaumaturite.libelle }}</td>
                      <td style="text-align: center;">
                        <ng-container>
                          <nz-popconfirm [nzTitle]="'Êtes vous sûr de supprimer ?'"
                            (nzOnConfirm)="enleverProjetSoumis(projetsous)" [nzOkText]="'Oui'" [nzCancelText]="'Non'">

                            <button type="button" nz-popconfirm class="btn btn-danger btn-circle  btn-sm">
                              <i class="ti-close"></i>
                            </button>

                          </nz-popconfirm>
                        </ng-container>

                      </td>
                    </tr>
                  </tbody>

                </table>
              </div>


              <br>
              <br>

              <h4 class="card-title">Projets élus</h4>
              <h6 class="card-subtitle">Liste des projets élus.
                <button type="button" class="btn btn-success btn-circle  btn-sm" style="float: right;"
                  (click)="showModalProjetElus()">
                  <i class="ti-plus"></i>
                </button>
              </h6>
              <hr>

              <div class="table-responsive">
                <!-- Alert with rounded corner -->

                <table class="table table-striped border" style="width: 100%!important;">
                  <thead>
                    <tr>
                      <th>Réf.</th>
                      <th>Désignation</th>
                      <!--  <th>Secteur</th> -->
                      <th>Maturité</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngIf="projetIdeesElus.length == 0">
                      <td colspan="5" class="text-center center">
                        Aucun projet !
                      </td>
                    </tr>
                    <tr *ngFor="let projetelus of projetIdeesElus">
                      <td> {{ (projetelus != null)? projetelus.reference: '#N/A' }}</td>
                      <td> {{ (projetelus != null)? projetelus.libelle: '#N/A' }}</td>
                      <!-- <td> {{ (projetelus != null)? projetelus.secteur.libelle: '#N/A' }}</td> -->
                      <td> {{ (projetelus != null)? projetelus.niveaumaturite.libelle: '#N/A' }}</td>
                      <td style="text-align: center;">
                        <ng-container>
                          <nz-popconfirm [nzTitle]="'Êtes vous sûr de supprimer ?'"
                            (nzOnConfirm)="enleverProjetElus(projetelus)" [nzOkText]="'Oui'" [nzCancelText]="'Non'">

                            <button type="button" nz-popconfirm class="btn btn-danger btn-circle  btn-sm">
                              <i class="ti-close"></i>
                            </button>

                          </nz-popconfirm>
                        </ng-container>

                      </td>
                    </tr>
                  </tbody>

                </table>
              </div>

              <br>
              <br>
              <nz-form-item>
                <nz-form-control>
                  <h5> Défis </h5>
                  <textarea rows="3" nz-input formControlName="defis"
                    oninput="this.value = this.value.toUpperCase()"></textarea>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-control>
                  <h5> Résultats </h5>
                  <textarea rows="3" nz-input formControlName="resultats"
                    oninput="this.value = this.value.toUpperCase()"></textarea>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-control>
                  <h5> Difficultés </h5>
                  <textarea rows="3" nz-input formControlName="difficultes"
                    oninput="this.value = this.value.toUpperCase()"></textarea>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-control>
                  <h5> Observations </h5>
                  <textarea rows="3" nz-input formControlName="observations"
                    oninput="this.value = this.value.toUpperCase()"></textarea>
                </nz-form-control>
              </nz-form-item>
            </form>
          </div>
        </div>

        <div class="col-md-12 col-sm-12">

          <div class="card">
            <div class="card-body">
              <a nz-button nzType="default" [routerLink]="['../list']">
                <i nz-icon type="left"> </i> Liste des coopérations</a>

              <button nz-button nzType="primary" style="margin-left: 10px;" (click)="enregistrerCooperation()"
                [disabled]="validateFormCooperation.invalid">
                Enregistrer la coopération
              </button>
            </div>

          </div>
        </div>

      </div>
    </div>

  </div>
</div>

<!-- </div> -->
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->


<!--gestion des PTF-->
<nz-modal [(nzVisible)]="isVisibleModalPtf" nzTitle="Répertoire des P.T.F" [(nzCancelText)]="btnFermerText"
  (nzOnCancel)="handleCancel()" [nzClosable]="false" [nzOkDisabled]="false" [nzOkText]="null" [nzWidth]="700">

  <div class="table-responsive">

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <button class="btn btn-info" type="button">
          <i class="ti-pencil"></i>
        </button>
      </div>
      <input type="text" class="form-control" autocomplete="false" [(ngModel)]="filter" placeholder="Rechercher"
        aria-label="" aria-describedby="basic-addon1">
      <div class="input-group-append">
        <button class="btn btn-success" type="button">
          <i class="ti-search"></i>
        </button>
      </div>
    </div>

    <table class="table table-striped border" style="width: 100%!important;">
      <thead>
        <tr>
          <th> Dénomination</th>
          <th> Catégorie</th>
          <th> Sigle</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="ptfList.length == 0">
          <td colspan="5" class="text-center center">
            Aucun projet !
          </td>
        </tr>
        <tr *ngFor="let ptf of ptfList | filter:filter">
          <td> {{ ptf.denominationptf }}</td>
          <td> {{ ptf.categorieptf.libelle }}</td>
          <td> {{ ptf.sigleptf }}</td>
          <td style="text-align: center;">
            <button type="button" class="btn btn-info btn-circle  btn-sm" (click)="choisirUnPTF(ptf)">
              <i class="ti-check"></i>
            </button>
          </td>
        </tr>
      </tbody>

    </table>

  </div>

</nz-modal>



<!--répertoire des Projets possibles d'être soumis-->
<nz-modal [(nzVisible)]="isVisibleModalProjeSoumistList" nzTitle="Répertoire des Projets"
  [(nzCancelText)]="btnFermerText" (nzOnCancel)="handleCancel()" [nzClosable]="false" [nzOkDisabled]="false"
  [nzOkText]="null" [nzWidth]="700">

  <div class="table-responsive">

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <button class="btn btn-info" type="button">
          <i class="ti-pencil"></i>
        </button>
      </div>
      <input type="text" class="form-control" autocomplete="false" [(ngModel)]="filter" placeholder="Rechercher"
        aria-label="" aria-describedby="basic-addon1">
      <div class="input-group-append">
        <button class="btn btn-success" type="button">
          <i class="ti-search"></i>
        </button>
      </div>
    </div>

    <table class="table table-striped border" style="width: 100%!important;">
      <thead>
        <tr>
          <th> Référence(s)</th>
          <th> Désignation</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="projetideeList.length == 0">
          <td colspan="5" class="text-center center">
            Aucun projet !
          </td>
        </tr>
        <tr *ngFor="let projet of projetideeList | filter:filter">
          <td> {{ (projetideeList !=null)? projet.reference: '#N/A' }}</td>
          <td> {{ (projetideeList !=null)? projet.libelle: '#N/A' }}</td>
          <td style="text-align: center;">
            <button type="button" class="btn btn-info btn-circle  btn-sm" (click)="ajouterProjetsSoumis(projet)">
              <i class="ti-check"></i>
            </button>
            <button type="button" class="btn btn-danger btn-circle  btn-sm"
              (click)="confirmerSuppressionProjetIdee(projet)">
              <i class="ti-close"></i>
            </button>
          </td>
        </tr>
      </tbody>

    </table>

  </div>

</nz-modal>

<!--répertoire des Projets soumis et possible d'être élus-->
<nz-modal [(nzVisible)]="isVisibleModalProjeElustList" nzTitle="Répertoire des Projets Soumis"
  [(nzCancelText)]="btnFermerText" (nzOnCancel)="handleCancel()" [nzClosable]="false" [nzOkDisabled]="false"
  [nzOkText]="null" [nzWidth]="700">

  <div class="table-responsive">

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <button class="btn btn-info" type="button">
          <i class="ti-pencil"></i>
        </button>
      </div>
      <input type="text" class="form-control" autocomplete="false" [(ngModel)]="filter" placeholder="Rechercher"
        aria-label="" aria-describedby="basic-addon1">
      <div class="input-group-append">
        <button class="btn btn-success" type="button">
          <i class="ti-search"></i>
        </button>
      </div>
    </div>

    <table class="table table-striped border" style="width: 100%!important;">
      <thead>
        <tr>
          <th> Référence(s)</th>
          <th> Désignation</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="projetideeList.length == 0">
          <td colspan="5" class="text-center center">
            Aucun projet !
          </td>
        </tr>
        <tr *ngFor="let projet of projetIdeesSoumis | filter:filter">
          <td> {{ (projetIdeesSoumis !=null)? projet.reference: '#N/A' }}</td>
          <td> {{ (projetIdeesSoumis !=null)? projet.libelle: '#N/A' }}</td>
          <td style="text-align: center;">
            <button type="button" class="btn btn-info btn-circle  btn-sm" (click)="ajouterProjetsElus(projet)">
              <i class="ti-check"></i>
            </button>
            <button type="button" class="btn btn-danger btn-circle  btn-sm" (click)="enleverProjetElus(projet)">
              <i class="ti-close"></i>
            </button>
          </td>
        </tr>
      </tbody>

    </table>

  </div>

</nz-modal>
