<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">

    <div class="col-md-12 col-sm-12">

        <div class="material-card card">
            <div class="card-body">
                <h4 class="card-title">Liste des aides alimentaires et secours </h4>
                <h6 class="card-subtitle">
                    Liste des aides alimentaires et secours <br>
                    <hr>
                </h6>

                <div class="table-responsive">

                  <p-table #dt [paginator]="true" [rowsPerPageOptions]="[10,25,50]" [rows]="10"
                           [showCurrentPageReport]="true" [value]="aideAlimentaireList"
                           currentPageReportTemplate="Affichage de {first} à {last} dans {totalRecords} éléments">
                    <ng-template pTemplate="header">
                      <tr>
                        <th pSortableColumn="id">N°Enreg
                          <p-sortIcon field="id"></p-sortIcon>
                        </th>
                        <th pSortableColumn="exercice.libelle">Intitulé
                          <p-sortIcon field="exercice.libelle"></p-sortIcon>
                        </th>
                        <th pSortableColumn="ptfBailleurFrs.denominationptf">P.T.F
                          <p-sortIcon field="ptfBailleurFrs.denominationptf"></p-sortIcon>
                        </th>
                        <th pSortableColumn="montant">Montant (francs CFA)
                          <p-sortIcon field="montant"></p-sortIcon>
                        </th>
                        <th class="text-center">Action</th>
                      </tr>
                      <tr class="title-filter-table">
                        <th>
                          <nz-input-group [nzSuffix]="suffixIconSearch">
                            <input (input)="dt.filter($event.target.value, 'id', 'contains')" nz-input
                                   placeholder="Rechercher"
                                   type="text"/>
                          </nz-input-group>
                          <ng-template #suffixIconSearch>
                            <i nz-icon nzType="search"></i>
                          </ng-template>
                        </th>
                        <th>
                          <nz-input-group [nzSuffix]="suffixIconSearch">
                            <input (input)="dt.filter($event.target.value, 'exercice.libelle', 'contains')" nz-input
                                   placeholder="Rechercher"
                                   type="text"/>
                          </nz-input-group>
                          <ng-template #suffixIconSearch>
                            <i nz-icon nzType="search"></i>
                          </ng-template>
                        </th>
                        <th>
                          <nz-input-group [nzSuffix]="suffixIconSearch">
                            <input (input)="dt.filter($event.target.value, 'ptfBailleurFrs.denominationptf', 'contains')" nz-input
                                   placeholder="Rechercher"
                                   type="text"/>
                          </nz-input-group>
                          <ng-template #suffixIconSearch>
                            <i nz-icon nzType="search"></i>
                          </ng-template>
                        </th>
                        <th>
                          <nz-input-group [nzSuffix]="suffixIconSearch">
                            <input (input)="dt.filter($event.target.value, 'montant', 'equal')" nz-input
                                   placeholder="Rechercher"
                                   type="number"/>
                          </nz-input-group>
                          <ng-template #suffixIconSearch>
                            <i nz-icon nzType="search"></i>
                          </ng-template>
                        </th>
                        <th class="text-center">#</th>
                      </tr>
                    </ng-template>
                    <ng-template let-aide pTemplate="body">
                      <tr>
                        <td> {{ aide.id }}</td>
                        <td> {{ aide.exercice.libelle}}</td>
                        <td> {{ aide.ptfBailleurFrs != null ? aide.ptfBailleurFrs.denominationptf : 'N.A' }}</td>
                        <td class="text-right"> {{ formatNumber(aide.montant) }}</td>
                        <td class="center text-center">
                          <button type="button" class="btn btn-info btn-circle  btn-sm" (click)="ouvrirModifier(aide.id)"><i class="ti-pencil"></i> </button>
                          <button type="button" class="btn btn-danger btn-circle  btn-sm" (click)="deleteAideAlimentaire(aide)"> <i class="ti-close"></i> </button>
                          <button type="button" class="btn btn-primary btn-circle  btn-sm" (click)="ouvrirDetail(aide.id)">
                            <i class="ti-info"></i></button>
                        </td>
                      </tr>

                    </ng-template>
                  </p-table>


                </div>

            </div>
        </div>
    </div>

</div>
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->
