<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">

    <div class="col-md-4 col-sm-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Formulaire</h4>
                <h6 class="card-subtitle">Enregistrement et modification des types d'assistance.</h6>
                <form class="mt-4" [formGroup]="validateForm" (ngSubmit)="submitForm()">
                    <!-- Alert with rounded corner -->
                    <div class="alert {{'alert-'+typeNotificationForm}} alert-rounded" *ngIf="isNotificationForm == true">
                        <i class="ti-info-alt"></i> {{messageNotificationForm}}
                        <button type="button" class="close" (click)="closeNotificationForm()">
              <span>×</span></button>
                    </div>

                    <div class="form-group">
                        <nz-form-item>
                            <h5> Type assistance <span class="text-danger">*</span> </h5>
                            <nz-form-control>
                                <input nz-input formControlName="libelle" id="libelle" class="form-control" oninput="this.value = this.value.toUpperCase()">
                                <nz-form-explain *ngIf="validateForm.get('libelle')?.dirty && validateForm.get('libelle')?.errors">
                                    Ce champs est obligatoire !
                                </nz-form-explain>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-control>
                                <label nz-checkbox formControlName="isAppui">
                                 <span>Concerne un projet / Programme ?</span>
                                </label>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div style="float: right;margin-top: 15px;padding: 5px;">
                        <button type="button" (click)="cancelForm()" class="btn btn-inverse btn-sm"><i class="ti-close"> </i>
              Annuler
            </button>
                        <button type="submit" class="btn btn-primary btn-sm" [disabled]="validateForm.invalid" style="margin-left: 10px;"><i class="ti-check"> </i> {{ btnTitle }}
            </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-8 col-sm-12">

        <div class="material-card card">
            <div class="card-body">
                <h4 class="card-title">Types d'assistance</h4>
                <h6 class="card-subtitle">
                    Liste des types d'assistance <br>
                    <hr>
                </h6>

                <div class="table-responsive">
                    <!-- Alert with rounded corner -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="btn btn-info" type="button"><i class="ti-pencil"></i></button>
                        </div>
                        <input type="text" class="form-control" autocomplete="false" [(ngModel)]="filter" placeholder="Rechercher" aria-label="" aria-describedby="basic-addon1">
                        <div class="input-group-append">
                            <button class="btn btn-success" type="button"><i class="ti-search"></i></button>
                        </div>
                    </div>

                    <!-- Alert with rounded corner -->
                    <div class="alert {{'alert-'+typeNotificationTable}} alert-rounded" *ngIf="isNotificationTable == true">
                        <i class="ti-info-alt"></i> {{messageNotificationTable}}
                        <button type="button" class="close" (click)="closeNotificationTable()">
              <span>×</span></button>
                    </div>
                    <table class="table table-striped border" style="width: 100%!important;" [svData]="typeassistanceList" #sv="svDataTable" [svRowsOnPage]="5">
                        <thead>
                            <tr>
                                <th>
                                    <sv-default-sorter by="libelle"> libellé </sv-default-sorter>
                                </th>
                                <th>
                                    <sv-default-sorter> Projet ? </sv-default-sorter>
                                </th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let type of sv.data | filter:filter">
                                <td> {{ type.libelle }}</td>
                                <td> {{ type.isAppui == false || type.isAppui == null  ? 'NON' : 'OUI' }}</td>
                                <td style="text-align: center;">
                                    <button type="button" class="btn btn-info btn-circle  btn-sm" (click)="openModification(type)">
                  <i class="ti-pencil"></i>
                </button>
                                    <button type="button" class="btn btn-danger btn-circle  btn-sm" (click)="error(type)">
                  <i class="ti-close"></i>
                </button>
                                </td>
                            </tr>

                        </tbody>

                        <tfoot>

                            <tr>
                                <td colspan="2">
                                    <sv-bootstrap-paginator [rowsOnPageSet]="[5,10,25,50,100]"></sv-bootstrap-paginator>
                                </td>
                            </tr>
                        </tfoot>

                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->
