<div class="row" style="min-height: 400px;">

  <div class="col-md-12 col-sm-12" style="background: #26e3a5!important;">
    <div style="background: #1a7c5c;border-radius: 25% 0% 35% 0%!important;height: 100%;">
      <div class="row" style="padding: 8% 10% 5% 10%;">
        <div class="col-md-2">
          <img src="assets/images/logos/logo-sgifd.PNG"  style="margin-top: 40px;"
               class="text-center rounded-circle img-130-150"
               alt="homepage"/>
        </div>
        <div class="col-md-10  col-sm-12" style="padding-left: 5%;">
      <span class="title-site">
        Système de Gestion de l'Information
        sur le Financement du Développement</span>
          <!--<h3 style="color: white;">http://192.168.8.194:8080 (Login: admin2019 | Password : Admin@2019)</h3>-->
          <!--<br>-->
          <br><br>
          <a [routerLink]="['login']"
             class="btn btn-sm btn-success text-white btn-rounded">
            Connectez-vous
          </a>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="col-md-4  col-sm-12" style="background: #edf1f5;">
    <img src="assets/images/home/carte-2.png" class="text-center center"
         style="height:400px;" alt="homepage"/>
  </div>-->
</div>

<br><br>
<div class="row">
  <div class="col-lg-1" style="margin-left: 3%;"></div>
  <!-- Column -->
  <div class="col-lg-3  text-center">
      <button type="button" class="btn btn-success btn-circle btn-xl heigth-width-180">
        <img src="assets/images/icons/icon1.png" alt="">
      </button>

        <h3 class="font-normal text-center" style="color: black;margin-top: 10px;">
          Requêtes de Financement</h3>
        <!--<p class="mb-0 mt-2">Le module de requêtes de Financement permet le suivi des requêtes à l'endroit des PTFs.</p>
        <button class="btn btn-success btn-rounded waves-effect waves-light mt-3">Lire la suite...</button>-->

  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-3 text-center">
      <button type="button" class="btn btn-info btn-circle btn-xl heigth-width-180">
        <img src="assets/images/icons/icon13.png" alt="">
      </button>
        <h3 class="font-normal" style="color: black;margin-top: 10px;">
          Suivi financier des projets</h3>
        <!--<p class="mb-0 mt-2">Le module Suivi financier des projets permet le suivi financier des parts extérieure et intérieure sur un projet.</p>
        <button class="btn btn-info btn-rounded waves-effect waves-light mt-3">Lire la suite...</button>-->
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-3 text-center">
      <button type="button" class="btn btn-primary btn-circle btn-xl heigth-width-180">
        <img src="assets/images/icons/icon6.png" alt="">
      </button>
        <h3 class="font-normal" style="color: black;margin-top: 10px;">Aides Alimentaires, secours et <br>Bourses </h3>
      <!--  <p class="mb-0 mt-2">Aides Alimentaires & Bourses permet le gestio et le suivi des bourses et aides alimentaires.</p>
        <button class="btn btn-primary btn-rounded waves-effect waves-light mt-3">Lire la suite ...</button>-->
  </div>
  <!-- Column -->
  <div class="col-lg-1"></div>
</div>

<br><br>

<div class="row">
  <div class="col-lg-1" style="margin-left: 3%;"></div>
  <!-- Column -->
  <div class="col-lg-3 text-center">
      <button type="button" class="btn btn-primary btn-circle btn-xl  heigth-width-180">
        <img src="assets/images/icons/icon2.png" alt="">
      </button>
        <h3 class="font-normal" style="color: black;margin-top: 10px;">Investissements directs <br> étrangers</h3>
        <!--<p class="mb-0 mt-2">Le module Investissements directs étrangers permet de suivre les invertissements directs étrangers.</p>
        <button class="btn btn-primary btn-rounded waves-effect waves-light mt-3">Lire la suite ...</button>-->
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-3 text-center">
      <button type="button" class="btn btn-warning btn-circle btn-xl heigth-width-180"
              style="height: 150px;width: 150px;font-size: 50px!important;">
        <img src="assets/images/icons/icon11.png" alt="">
      </button>
        <h3 class="font-normal" style="color: black;margin-top: 10px;">Coopérations décentralisées</h3>
        <!--<p class="mb-0 mt-2">Coopérations décentralisées et un module qui permet la gestion et le suivi des coopérations décentralisées.</p>
        <button class="btn btn-warning btn-rounded waves-effect waves-light mt-3">Lire la suite ...</button>-->
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-3 text-center">
      <button type="button" class="btn btn-secondary btn-circle btn-xl  heigth-width-180"
              style="height: 150px;width: 150px;font-size: 50px!important;">
        <img src="assets/images/icons/icon12.png" alt="">
      </button>
        <h3 class="font-normal" style="color: black;margin-top: 10px;">Accords de coopération</h3>
        <!--<p class="mb-0 mt-2">Module de gestion des Accords de coopération .</p>
        <button class="btn btn-secondary btn-rounded waves-effect waves-light mt-3">Lire la suite...</button>-->
  </div>
  <!-- Column -->
  <div class="col-lg-1"></div>
</div>

<br><br>
<br>
<div class="row" style="background: #edf1f5;">

  <div class="col-lg-12" style="text-align: center;">
    <img src="../../assets/images/footer_img.png" alt=""
         style="width: 50%;height: 5px;margin-top: -1.5%;">
  </div>
  <div class="col-lg-12" style="padding: 50px;text-align: center;">
    <!--<img src="assets/images/logos/logo-icon.png" alt="homepage"
         style="height: 50px;margin-left: 10px;margin-right: 15px;"/>-->
    <span style="font-size: 18px;"> ©2019 Plateforme SGIFD</span>
  </div>
</div>

