<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">

  <div class="col-md-12 col-sm-12">

    <div class="material-card card">
      <div class="card-body">
        <h4 class="card-title">Liste des projets en cours</h4>
        <hr>

        <div class="row">
          <div class="col-md-3 col-sm-12">
            <nz-form-item>
              <h5> Année de collecte </h5>
              <nz-form-control>
                <nz-select (ngModelChange)="makeListeProjet()" [(ngModel)]="exercice" style="width: 100%;">
                  <nz-option *ngFor="let exercice of exerciceList" [nzLabel]="exercice.libelle"
                             [nzValue]="exercice"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col-md-9 col-sm-12">
            <br>
            <div class="input-group mb-3" style="margin-top: 5px;">
              <input [(ngModel)]="filter" aria-describedby="basic-addon1" aria-label="" autocomplete="false"
                     class="form-control"
                     oninput="this.value = this.value.toUpperCase()" placeholder="Recherche globale de(s) mot(s) clé(s) sur l'intitulé du projet"
                     type="text">
              <div class="input-group-append">
                <button (click)="filtreGlobalList()" [disabled]="filter ==null || filter == ''"
                        class="btn btn-success"
                        type="button"><i class="ti-search"></i></button>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="isChargment == true" class="row">
          <div class="col-md-12">
            <br>
            <div class="alert alert-info alert-rounded">
              <i class="ti-info-alt"></i> Recherche en cours ...
            </div>
          </div>
        </div>

        <div class="table-responsive" *ngIf="isChargment == false">

          <p-table #dt [paginator]="true" [rowsPerPageOptions]="[10,25,50]" [rows]="10"
                   [showCurrentPageReport]="true" [value]="projetencoursList"
                   currentPageReportTemplate="Affichage de {first} à {last} dans {totalRecords} éléments">
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="id">N°Enreg
                  <p-sortIcon field="id"></p-sortIcon>
                </th>
                <th pSortableColumn="reference">Référence(s)
                  <p-sortIcon field="reference"></p-sortIcon>
                </th>
                <th pSortableColumn="libelle">Intitulé
                  <p-sortIcon field="libelle"></p-sortIcon>
                </th>
                <th pSortableColumn="coutGlobalProjet">Cout global (F CFA)
                  <p-sortIcon field="coutGlobalProjet"></p-sortIcon>
                </th>
                <th pSortableColumn="dateDemarrage">Date démarrage
                  <p-sortIcon field="dateDemarrage"></p-sortIcon>
                </th>
                <th class="text-center">Action</th>
              </tr>
              <tr class="title-filter-table">
                <th>
                  <nz-input-group [nzSuffix]="suffixIconSearch">
                    <input (input)="dt.filter($event.target.value, 'id', 'equal')" nz-input placeholder="Rechercher"
                           type="number"/>
                  </nz-input-group>
                  <ng-template #suffixIconSearch>
                    <i nz-icon nzType="search"></i>
                  </ng-template>
                </th>
                <th>
                  <nz-input-group [nzSuffix]="suffixIconSearch">
                    <input (input)="dt.filter($event.target.value, 'reference', 'contains')" nz-input
                           placeholder="Rechercher"
                           type="text"/>
                  </nz-input-group>
                  <ng-template #suffixIconSearch>
                    <i nz-icon nzType="search"></i>
                  </ng-template>
                </th>
                <th>
                  <nz-input-group [nzSuffix]="suffixIconSearch">
                    <input (input)="dt.filter($event.target.value, 'libelle', 'contains')" nz-input
                           placeholder="Rechercher"
                           type="text"/>
                  </nz-input-group>
                  <ng-template #suffixIconSearch>
                    <i nz-icon nzType="search"></i>
                  </ng-template>
                </th>
                <th>
                  <nz-input-group [nzSuffix]="suffixIconSearch">
                    <input (input)="dt.filter($event.target.value, 'coutGlobalProjet', 'equal')" nz-input
                           placeholder="Rechercher"
                           type="number"/>
                  </nz-input-group>
                  <ng-template #suffixIconSearch>
                    <i nz-icon nzType="search"></i>
                  </ng-template>
                </th>
                <th>
                  <nz-input-group [nzSuffix]="suffixIconSearch">
                    <input (input)="dt.filter($event.target.value, 'dateDemarrage', 'equal')" nz-input
                           placeholder="Rechercher"
                           type="date"/>
                  </nz-input-group>
                  <ng-template #suffixIconSearch>
                    <i nz-icon nzType="search"></i>
                  </ng-template>
                </th>
                <th class="text-center">#</th>
              </tr>
            </ng-template>
            <ng-template let-projet pTemplate="body">
              <tr>
                <td> {{ projet.id }}</td>
                <td> {{ projet.reference }}</td>
                <td> {{ projet.libelle }}</td>
                <td style="text-align: right;"> {{ formatNumber(projet.coutGlobalProjet) }}</td>
                <td> {{ projet.dateDemarrage|date:'dd-MMM-yyyy' }} </td>
                <td style="text-align: center;">
                  <button (click)="deleteProjet(projet)" class="btn btn-danger btn-circle  btn-sm" type="button"><i
                    class="ti-close"></i></button>
                  <button (click)="ouvrirModifier(projet.id)" class="btn btn-info btn-circle  btn-sm" type="button"><i
                    class="ti-pencil"></i></button>
                  <button (click)="ouvrirDetailSuivi(projet.id)" class="btn btn-primary btn-circle  btn-sm"
                          type="button"><i class="ti-info"></i></button>
                  <button (click)="ouvrirGererFinancement(projet.id)" class="btn btn-success btn-circle  btn-sm"
                          type="button"><i class="ti-align-center"></i></button>
                </td>
              </tr>

            </ng-template>
          </p-table>

        </div>

      </div>
    </div>
  </div>

</div>
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->
