<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">

    <div class="col-md-12 col-sm-12">

        <div class="material-card card">
            <div class="card-body">
                <h4 class="card-title">IDE </h4>
                <h6 class="card-subtitle">
                    Liste des IDEs <br>
                    <hr>
                </h6>

                <div class="table-responsive">

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="btn btn-info" type="button"><i class="ti-pencil"></i></button>
                        </div>
                        <input type="text" class="form-control" autocomplete="false" [(ngModel)]="filter" placeholder="Rechercher" aria-label="" aria-describedby="basic-addon1">
                        <div class="input-group-append">
                            <button class="btn btn-success" type="button"><i
                        class="ti-search"></i></button>
                        </div>
                    </div>

                    <table class="table table-striped border" style="width: 100%!important;" [svData]="ideList" #sv="svDataTable" [svRowsOnPage]="5">
                        <thead>
                            <tr>
                                <th>
                                    Année Réception
                                </th>
                                <th>
                                    <sv-default-sorter by="montantTheorique">Montant Théorique</sv-default-sorter>
                                </th>
                                <th>
                                    Type Coopération
                                </th>
                                <th>
                                    <sv-default-sorter by="libelle">Référence</sv-default-sorter>
                                </th>

                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ide of sv.data | filter:filter">
                                <td> {{ (ide.anneeReception!=null)? ide.anneeReception.libelle : '#N/A' }}</td>
                                <td> {{ ide.montantTheorique}}</td>
                                <td> {{ (ide.typeCooperation !=null)? ide.typeCooperation.libelle :'#N/A' }}</td>
                                <td> {{ ide.libelle }}</td>

                                <td style="text-align: center;">
                                    <button type="button" class="btn btn-info btn-circle  btn-sm" (click)="ouvrirModifier(ide.id)"><i class="ti-pencil"></i> </button>
                                    <button type="button" class="btn btn-danger btn-circle  btn-sm" (click)="deleteIde(ide)"> <i class="ti-close"></i> </button>
                                    <button type="button" class="btn btn-primary btn-circle  btn-sm" (click)="ouvrirDetail(ide.id)">
                                          <i class="ti-info"></i></button>
                                </td>
                            </tr>

                        </tbody>

                        <tfoot>

                            <tr>
                                <td colspan="7">
                                    <sv-bootstrap-paginator [rowsOnPageSet]="[5,10,25,50,100]"></sv-bootstrap-paginator>
                                </td>
                            </tr>
                        </tfoot>

                    </table>
                </div>

            </div>
        </div>
    </div>

</div>
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->
