<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">

  <div class="col-md-12 col-sm-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Formulaire</h4>
        <h6 class="card-subtitle">Enregistrement et modification des cibles prioritaires.</h6>
        <form class="mt-4" [formGroup]="validateForm" (ngSubmit)="submitForm()">
          <!-- Alert with rounded corner -->
          <div class="alert {{'alert-'+typeNotificationForm}} alert-rounded" *ngIf="isNotificationForm == true">
            <i class="ti-info-alt"></i> {{messageNotificationForm}}
            <button type="button" class="close" (click)="closeNotificationForm()">
              <span>×</span></button>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <nz-form-item>
                  <h5> Code<span class="text-danger">*</span></h5>
                  <nz-form-control>
                <textarea rows="3" nz-input formControlName="code"
                          oninput="this.value = this.value.toUpperCase()"></textarea>
                    <nz-form-explain *ngIf="validateForm.get('code')?.dirty && validateForm.get('code')?.errors">
                      Ce champs est obligatoire !
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <nz-form-item>
                  <h5> Libellé<span class="text-danger">*</span></h5>
                  <nz-form-control>
                <textarea rows="3" nz-input formControlName="libelle"
                          oninput="this.value = this.value.toUpperCase()"></textarea>
                    <nz-form-explain *ngIf="validateForm.get('libelle')?.dirty && validateForm.get('libelle')?.errors">
                      Ce champs est obligatoire !
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <nz-form-item>
                  <h5> ODD <span class="text-danger">*</span></h5>
                  <nz-form-control>
                    <nz-select id="odd" formControlName="odd" nzShowSearch nzAllowClear>
                      <nz-option *ngFor="let option of objectifoddList" [nzLabel]="option.code" [nzValue]="option.id">
                      </nz-option>
                    </nz-select>
                    <nz-form-explain
                      *ngIf="validateForm.get('odd')?.dirty && validateForm.get('odd')?.errors">
                      Ce champs est obligatoire !
                    </nz-form-explain>
                  </nz-form-control>

                </nz-form-item>
              </div>
            </div>
          </div>


          <div style="float: right;margin-top: 15px;padding: 5px;">
            <button type="button" (click)="cancelForm()" class="btn btn-inverse btn-sm"><i class="ti-close"> </i>
              Annuler
            </button>
            <button type="submit" class="btn btn-primary btn-sm" [disabled]="validateForm.invalid"
                    style="margin-left: 10px;"><i class="ti-check"> </i> {{ btnTitle }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-8 col-sm-12"></div>
  <div class="col-md-12 col-sm-12">

    <div class="material-card card">
      <div class="card-body">
        <h4 class="card-title">Cibles</h4>
        <h6 class="card-subtitle">
          Liste des cibles<br>
          <hr>
        </h6>

        <div class="table-responsive">

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <button class="btn btn-info" type="button"><i class="ti-pencil"></i></button>
            </div>
            <input type="text" class="form-control" autocomplete="false" [(ngModel)]="filter"
                   placeholder="Rechercher" aria-label="" aria-describedby="basic-addon1">
            <div class="input-group-append">
              <button class="btn btn-success" type="button"><i class="ti-search"></i></button>
            </div>
          </div>

          <!-- Alert with rounded corner -->
          <div class="alert {{'alert-'+typeNotificationTable}} alert-rounded" *ngIf="isNotificationTable == true">
            <i class="ti-info-alt"></i> {{messageNotificationTable}}
            <button type="button" class="close" (click)="closeNotificationTable()">
              <span>×</span></button>
          </div>
          <table class="table table-striped border" style="width: 100%!important;" [svData]="cibleList"
                 #sv="svDataTable" [svRowsOnPage]="5">
            <thead>
            <tr>
              <th>
                <sv-default-sorter by="code"> Code</sv-default-sorter>
              </th>
              <th>
                <sv-default-sorter by="libelle"> Libellé</sv-default-sorter>
              </th>
              <th>
                <sv-default-sorter by="odd"> ODD</sv-default-sorter>
              </th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cible of sv.data | filter:filter">
              <td> {{ cible.code }}</td>
              <td> {{ cible.libelle }}</td>
              <td> {{ (cible.odd != null)? cible.odd.code: '#N/A' }}</td>
              <td style="text-align: center;">
                <button type="button" class="btn btn-info btn-circle  btn-sm" (click)="openModification(cible)"
                >
                  <i class="ti-pencil"></i>
                </button>
                <button type="button" class="btn btn-danger btn-circle  btn-sm" (click)="error(cible)">
                  <i class="ti-close"></i>
                </button>
              </td>
            </tr>

            </tbody>

            <tfoot>

            <tr>
              <td colspan="4">
                <sv-bootstrap-paginator [rowsOnPageSet]="[5,10,25,50,100]"></sv-bootstrap-paginator>
              </td>
            </tr>
            </tfoot>

          </table>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->
