<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">

  <div class="col-md-12 col-sm-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Formulaire</h4>
        <h6 class="card-subtitle">Enregistrement et modification des structures.</h6>
        <form class="mt-4" [formGroup]="validateForm" (ngSubmit)="submitForm()">
          <!-- Alert with rounded corner -->
          <div class="alert {{'alert-'+typeNotificationForm}} alert-rounded" *ngIf="isNotificationForm == true">
            <i class="ti-info-alt"></i> {{messageNotificationForm}}
            <button type="button" class="close" (click)="closeNotificationForm()">
              <span>×</span></button>
          </div>

          <div class="row">
            <div class="col-md-6">
              <nz-form-item>
                <nz-form-control>
                  <h5> Raison sociale ou dénomination<span class="text-danger">*</span></h5>
                  <input nz-input formControlName="denominationStructure" id="denominationStructure"
                    class="form-control" oninput="this.value = this.value.toUpperCase()">
                  <nz-form-explain
                    *ngIf="validateForm.get('denominationStructure')?.dirty && validateForm.get('denominationStructure')?.errors">
                    Ce champs est obligatoire !
                  </nz-form-explain>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="col-md-6">
              <nz-form-item>
                <nz-form-control>
                  <h5> Sigle </h5>
                  <input nz-input formControlName="sigleStructure" id="sigleStructure" class="form-control"
                    oninput="this.value = this.value.toUpperCase()">

                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <nz-form-item>
                <nz-form-control>
                  <h5> Contact(s) </h5>
                  <input nz-input formControlName="telStructure" id="telStructure" class="form-control"
                    oninput="this.value = this.value.toUpperCase()">
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="col-md-6">
              <nz-form-item>
                <nz-form-control>
                  <h5> Email </h5>
                  <input nz-input formControlName="emailStructure" id="emailStructure" class="form-control"
                    oninput="this.value = this.value.toUpperCase()">
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <nz-form-item>
                <nz-form-control>
                  <h5> Type <span class="text-danger">*</span></h5>
                  <nz-select nzShowSearch nzAllowClear id="typestructure" formControlName="typestructure">
                    <nz-option *ngFor="let typestructure of typestructureList" [nzLabel]="typestructure.libelle"
                      [nzValue]="typestructure.id"></nz-option>
                  </nz-select>
                  <nz-form-explain
                    *ngIf="validateForm.get('typestructure')?.dirty && validateForm.get('typestructure')?.errors">
                    Ce champs est obligatoire !
                  </nz-form-explain>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="col-md-6">
              <nz-form-item>
                <nz-form-control>
                  <h5> Domaines d'activité <span class="text-danger">*</span></h5>
                  <nz-select nzShowSearch nzAllowClear nzMode="multiple" id="domaineActivites"
                    formControlName="domaineActivites">
                    <nz-option *ngFor="let domaine of domaineactiviteList" [nzLabel]="domaine.libelle"
                      [nzValue]="domaine.id"></nz-option>
                  </nz-select>
                  <nz-form-explain
                    *ngIf="validateForm.get('domaineActivites')?.dirty && validateForm.get('domaineActivites')?.errors">
                    Ce champs est obligatoire !
                  </nz-form-explain>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>


          <br>
          <div style="float: right;margin-top: 15px;padding: 5px;">
            <button type="button" (click)="cancelForm()" class="btn btn-inverse btn-sm"><i class="ti-close"> </i>
              Annuler
            </button>
            <button type="submit" class="btn btn-primary btn-sm" [disabled]="validateForm.invalid"
              style="margin-left: 10px;"><i class="ti-check"> </i> {{ btnTitle }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <br>
  <div class="col-md-12 col-sm-12">

    <div class="material-card card">
      <div class="card-body">
        <h4 class="card-title">Structures</h4>
        <h6 class="card-subtitle">
          Liste des structures <br>
          <hr>
        </h6>

        <div class="table-responsive">
          <!-- Alert with rounded corner -->
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <button class="btn btn-info" type="button"><i class="ti-pencil"></i></button>
            </div>
            <input type="text" class="form-control" autocomplete="false" [(ngModel)]="filter" placeholder="Rechercher"
              aria-label="" aria-describedby="basic-addon1">
            <div class="input-group-append">
              <button class="btn btn-success" type="button"><i class="ti-search"></i></button>
            </div>
          </div>

          <!-- Alert with rounded corner -->
          <div class="alert {{'alert-'+typeNotificationTable}} alert-rounded" *ngIf="isNotificationTable == true">
            <i class="ti-info-alt"></i> {{messageNotificationTable}}
            <button type="button" class="close" (click)="closeNotificationTable()">
              <span>×</span></button>
          </div>

          <!-- <table id="zero_config" class="table table-striped border" style="width: 100%!important;"
            [svData]="structureList" #sv="svDataTable" [svRowsOnPage]="5">
            <thead>
              <tr>
                <th>
                  <sv-default-sorter by="libelle"> Structure</sv-default-sorter>
                </th>
                <th>
                  <sv-default-sorter by="pays.libelle"> Type</sv-default-sorter>
                </th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let structure of sv.data | filter:filter">
                <td> {{ structure.denominationStructure }}</td>
                <td> {{ structure.typestructure.libelle }}</td>
                <td style="text-align: center;">
                  <button type="button" class="btn btn-info btn-circle  btn-sm" (click)="openModification(structure)">
                    <i class="ti-pencil"></i>
                  </button>
                  <button type="button" class="btn btn-danger btn-circle  btn-sm" (click)="error(structure)">
                    <i class="ti-close"></i>
                  </button>
                  <button type="button" class="btn btn-primary btn-circle  btn-sm" (click)="ouvrirDetail(structure)">
                    <i class="ti-info"></i></button>
                </td>
              </tr>
            </tbody>

            <tfoot>

              <tr>
                <td colspan="3">
                  <sv-bootstrap-paginator [rowsOnPageSet]="[5,10,25,50,100]"></sv-bootstrap-paginator>
                </td>
              </tr>
            </tfoot>

          </table> -->

          <nz-table #nzTable [nzData]="structureList">
            <thead>
            <tr>
              <th style="width: 65%;">Structure</th>
              <th style="width: 20%;">Type</th>
              <th style="width: 15%;">Action</th>
            </tr>
            </thead>
            <tbody>
            <ng-template ngFor let-data [ngForOf]="nzTable.data | filter:filter">
              <tr>
                <td> {{ data.denominationStructure }}</td>
                <td> {{ data.typestructure.libelle }}</td>
                <td>
                  <button type="button" class="btn btn-info btn-circle  btn-sm" (click)="openModification(structure)">
                    <i class="ti-pencil"></i>
                  </button>
                  <button type="button" class="btn btn-danger btn-circle  btn-sm" (click)="error(structure)">
                    <i class="ti-close"></i>
                  </button>
                  <button type="button" class="btn btn-primary btn-circle  btn-sm" (click)="ouvrirDetail(structure)">
                    <i class="ti-info"></i></button>
                </td>
              </tr>
            </ng-template>
            </tbody>
          </nz-table>

        </div>
      </div>
    </div>
  </div>

</div>
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->
